@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:ital,wght@0,200;0,400;1,200;1,400&display=swap");
@import "keyframes";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1.6;
  scroll-behavior: smooth;
  background: $aliceblue;
  font-family: "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  scrollbar-color: $black $aliceblue;
  scrollbar-width: thin;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

select {
  padding: 0.5em;
  font-size: inherit;
  background: darken(#f0f5f9, 5%);
  outline: none;
  border: none;
  color: #141414;
  cursor: pointer;
}

form {
  // max-width: 25em;
  display: flex;
  place-items: center;
  justify-content: space-between;
  flex: 1;
  max-width: 30em;
}
input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  padding: 0.5em;
  font-size: inherit;
  box-shadow: 0em 0.18em 0.12em -0.12em #000;
  transition: box-shadow 0.25s ease-in-out;
  &:focus {
    box-shadow: 0.18em 0.18em 0.18em -0.06em #000,
      -0.12em -0.12em 0.18em -0.06em #000;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  background: $aliceblue;
  width: 100%;
  box-shadow: 0 0.05em 0.5em #000;
  z-index: 5;
  height: auto;

  .navbar-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1em;
    // justify-content: flex-end;

    place-items: center;
    height: 100%;
    width: 95vw;
    margin: 0 auto;
    padding: 0.5em;
  }

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
  }
}

.desktop-nav {
  display: none;
  gap: 1em;

  @media (min-width: 1200px) {
    display: flex;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.burger {
  display: flex;
  z-index: 9;
  padding: 0.5em;
  flex-direction: column;
  place-items: center;
  justify-content: space-evenly;
  gap: 0.25em;
  cursor: pointer;

  @media (min-width: 1200px) {
    display: none;
  }

  .bar {
    width: 3em;
    height: 0.2em;
    background: $black;
    transition: all 0.5s ease-in-out;
  }

  :nth-child(2) {
    width: 2.5em;
    transform: translateX(0.5em);
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

.open {
  :nth-child(1) {
    transform: translate(0, 0.5em) rotate(40deg);
  }
  :nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
  }
  :nth-child(3) {
    transform: translate(0, -0.5em) rotate(-40deg);
  }
}

.mobile-nav {
  width: 0%;
  height: 100%;
  visibility: hidden;
  flex-flow: column wrap;
  justify-content: space-evenly;
  place-items: center;
  z-index: 3;
  position: fixed;
  top: 0;
  background: $aliceblue;
  transition: all 0.75s cubic-bezier(0.47, 0, 0.745, 0.715);

  a {
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.5s ease;
    opacity: 0;
  }

  :nth-child(1) {
    background: red;
    flex: 1;
    width: 100%;
    transform: translateX(-100%);
  }

  :nth-child(2) {
    background: green;
    flex: 1;
    width: 100%;
    transform: translateX(-100%);
  }

  :nth-child(3) {
    background: blue;
    flex: 1;
    width: 100%;
    transform: translateX(-100%);
  }

  :nth-child(4) {
    flex: 1;
    width: 100%;
    transform: translateX(-100em);
  }
}

.active {
  display: flex;
  width: 100%;
  visibility: visible;
  // transform: translateX(0);
  :nth-child(1) {
    opacity: 1;
    transition-delay: 1s;
    transform: translateX(0);
    color: $black;
  }

  :nth-child(2) {
    opacity: 1;
    transition-delay: 1.25s;
    transform: translateX(0);
    color: $black;
  }

  :nth-child(3) {
    opacity: 1;
    transition-delay: 1.5s;
    transform: translateY(0);
    color: $black;
  }

  :nth-child(4) {
    opacity: 1;
    transition-delay: 1.75s;
    transform: translateX(0);
    color: $black;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.loading {
  width: 13em;
  height: 13em;
  margin: 1em auto;
  border: 0.1em solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  border-bottom: 0.5em solid rgba(0, 0, 0, 0.15);
  animation: loading-animation 5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    infinite alternate;
  box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.15);
  position: relative;
  background: url("../../images/world-38033_640.png") no-repeat center
    center/100% 100%;
}

.gallery-main {
  padding: 5em 0.5em;
  display: flex;
  flex-direction: column;
  // gap: 2em;
  place-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 10em);
}

.about-main {
  min-height: calc(100vh - 10em);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  padding: 5em 0.5em;

  header {
    padding: 2em 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Della Respira", serif;
    font-size: $desktopFontSize;
  }

  p {
    max-width: 60ch;
    text-align: center;
    padding: 0 0.5em;
  }
}

// swiper
.swiper-container {
  width: 95vw;

  .swiper-wrapper {
    padding: 1em 0;
  }

  .swiper-slide {
    padding: 0.5em;
    // overflow: hidden;
    width: 100%;
  }

  .gallery-main__article {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    place-items: center;
    justify-content: space-between;
    box-shadow: 0em 0em 0.25em $black, 0em 0em 0.25em $black;
    // border: 0.5px solid red;
    animation: fade-in 0.5s ease-in-out;
    overflow: hidden;
    padding: 0.5em;
    // transition: all 0.25s ease-in-out;
    transition: all 0.25s cubic-bezier(0.47, 0, 0.745, 0.715);
    // padding: 0.5em;

    img {
      height: 20em;
      margin: 0 auto;
      object-fit: initial;
      // padding: 0.5em;
      transition: transform 0.25s ease;
      cursor: zoom-in;
      &:hover {
        transform: scale(2);
      }
    }

    header {
      display: none;
      h2 {
        font-family: "Della Respira", serif;
        font-weight: 400;
        letter-spacing: 0.01em;
        font-size: $desktopHeaderSizeQuery;
        text-align: center;
        padding: 0.25em;
        color: $black;

        // @media (max-width: 768px) {
        //   font-size: $mobileFontSize;
        // }
      }
    }

    .artist-info {
      :first-child {
        text-align: center;
        // display: none;
        font-size: $defaultFontSizeQuery;
        font-style: italic;
        font-family: "Montserrat", sans-serif;
        border-bottom: 0.01em solid rgba(0, 0, 0, 0.1);
        font-weight: 200;
      }
    }
  }
}

// swiper

.gallery-main__container {
  // padding: 0.5em;
  min-height: calc(100vh - 10em);
}

.rudi {
  outline: none;
  background: #fff;
  border: none;
  padding: 0.5em 1em;
  border: 0.2em solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, $black, darken($aliceblue, 30%));
  margin: 0.5em;
  width: 100%;
  place-self: center;
  font-size: $desktopHeaderSizeQuery;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: inherit;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  text-align: center;

  &:hover {
    letter-spacing: 0;
    border-image-source: $aliceblue;
    // padding: 0.25em 0.5em;
  }
}

.my-favorites-main {
  display: flex;
  flex-direction: column;
  place-content: center flex-start;
  min-height: calc(100vh - 10em);
  padding: 5em 0.5em;
  header {
    h2 {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.01em;
      font-family: "Della Respira", serif;
    }
  }
}

.art-details-main {
  width: 100%;
  display: flex;
  place-items: center flex-start;
  justify-content: center;
  min-height: calc(100vh - 10em);
  padding: 5em 0.5em;
}

.art-details-main__article {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  place-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5em;
  overflow-x: hidden;
  img {
    filter: drop-shadow(0 0 0.15em $black);
  }
}

.art-details-main__article--title {
  display: flex;
  position: relative;
  place-items: center;
}

.add-to-favorites {
  place-self: flex-end;
  padding: 0.5em;
  border: none;
  background: transparent;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.modal {
  text-align: center;
  text-transform: uppercase;
  transform: translateX(100%);
  animation: modal 0.25s ease forwards;
  text-decoration: none;
  border-bottom: none;
  position: absolute;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 0;
  top: 0;
  left: 100%;
  background: #f0f5f9;

  font-size: $desktopFontSize !important;
  border-bottom: 0;
}

.art-details-main__article-aside {
  display: flex;
  flex-direction: column;
  max-width: 60ch;
  justify-content: space-between;
  place-self: flex-start;
  gap: 2em;
  padding: 0.5em;

  h3 {
    font-size: $desktopFontSize;
    color: #141414;
    font-weight: 600;
    font-family: "Della Respira", serif;
  }

  h4 {
    font-size: 1.25em;

    padding: 0.5em 0;
  }

  span {
    color: #30475e;
  }

  p {
    border-bottom: 0.05em solid rgba(0, 0, 0, 0.1);
  }

  .hashtag-cont {
    border-bottom: none;
    padding: 1em 0;
    display: flex;
    flex-flow: row wrap;
    place-items: flex-start;
    gap: 0.5em;
  }

  .hashtags {
    background: #fff;
    padding: 0.25em 0.5em;
    border-radius: 9999px;
    color: #ddd;
    background: #303030;
    font-size: $mobileFontSizeSmall;
  }

  .art-details-main__article-aside--department {
    h3 {
      font-size: $desktopFontSize;
      color: #141414;
      font-weight: 600;
      font-family: "Della Respira", serif;
    }
  }
}

footer {
  padding: 0.5em;
  header {
    h2 {
      padding: 0.25em;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  .attribution {
    h4 {
      font-weight: 400;
      color: #141414;
      padding: 0.25em;
      text-align: center;

      a {
        text-decoration: underline dotted rgba(0, 0, 0, 0.65);
        text-underline-offset: 0.25em;
      }
    }
  }
}

.form-submit {
  padding: 0.5em;
  background: none;
  outline: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
}
