@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.6;
  scroll-behavior: smooth;
  background: #f0f5f9;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.loading {
  width: 10em;
  height: 10em;
  border: 0.25em solid rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  border-right: 0.25em solid rgba(225, 225, 0, 0.5);
  -webkit-animation: loading-animation 1.5s linear infinite;
          animation: loading-animation 1.5s linear infinite;
}

@-webkit-keyframes loading-animation {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes loading-animation {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-header h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Antic Didone", serif;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 4em;
  position: relative;
  overflow: hidden;
}

.hero-header h2 ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f0f5f9;
  top: 0;
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: text-reveal 5s ease 1s forwards;
          animation: text-reveal 5s ease 1s forwards;
}

@-webkit-keyframes text-reveal {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes text-reveal {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.gallery-main {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  place-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  min-height: calc(100vh - 15em);
}

.gallery-main__container {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  place-items: start;
  padding: 0.5em;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.gallery-main__container .gallery-main__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0.105em 0.105em 0.5em #000;
          box-shadow: 0.105em 0.105em 0.5em #000;
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
}

.gallery-main__container .gallery-main__article header h2 {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-size: 2em;
  text-align: center;
  padding: 0.25em;
  color: #303030;
}

.gallery-main__container .gallery-main__article .artist-info {
  padding: 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

.gallery-main__container .gallery-main__article .artist-info :first-child {
  text-align: right;
  font-size: 1.5em;
  font-style: italic;
  font-family: "Antic Didone", serif;
  border-bottom: 0.01em solid rgba(0, 0, 0, 0.1);
}

.gallery-main__container .gallery-main__article .artist-info p {
  padding: 0.25em;
  text-align: center;
}

.art-details-main {
  width: 100%;
}

.art-details-main__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 0.5em;
  place-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 95vw;
  margin: 0 auto;
}

.art-details-main__article-aside {
  place-self: flex-start;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.art-details-main__article-aside .art-details-main__article-aside--department {
  place-self: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
}

footer {
  padding: 0.5em;
}

footer header h2 {
  padding: 0.25em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

footer .attribution h4 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  padding: 0.25em;
  text-align: center;
}

footer .attribution h4 a {
  -webkit-text-decoration: underline dotted rgba(0, 0, 0, 0.65);
          text-decoration: underline dotted rgba(0, 0, 0, 0.65);
  text-underline-offset: 0.25em;
}

form {
  max-width: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input {
  border: none;
  background: transparent;
  outline: none;
  padding: 0.5em;
  font-size: inherit;
  -webkit-box-shadow: 0em 0.18em 0.12em -0.12em #000;
          box-shadow: 0em 0.18em 0.12em -0.12em #000;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

input:focus {
  -webkit-box-shadow: 0.18em 0.18em 0.18em -0.06em #000, -0.12em -0.12em 0.18em -0.06em #000;
          box-shadow: 0.18em 0.18em 0.18em -0.06em #000, -0.12em -0.12em 0.18em -0.06em #000;
}

button {
  padding: 0.5em;
  border: none;
  background: transparent;
  font-size: inherit;
  cursor: pointer;
}
